<h1>Ruby on Rails スケジュール管理アプリ</h1>

<h3>スケジュール一覧</h3>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>スケジュール更新日時</th>
      <th>確認</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th><%= user.id %></th>
        <th><%= title.id %></th>
        <th><%= datetime_field.id %></th>
        <th><%= datetime_field.id %></th>
        # https://qiita.com/pyon_kiti_jp/items/747496d02bdb1eff1ce8を参照
        <th><%= check_box.id %></th>
        <th><% user.updated_at.id %></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "スケジュール新規登録", :new_user %></p>



